*{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}
header{
    padding-top: 50px;
    background-color: #FFF8F3;
    background-image: 
    url(../images/developer.png), 
    url(../images/header_bg.png);
    background-repeat: no-repeat , no-repeat;
    background-position: 
    top left,
    bottom right;

}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 50px; */
}
nav .menu{
    list-style: none;
    display: flex;
    gap: 30px;
    text-decoration: none;
}
nav .menu li{
    display: flex;
    align-items: center;
}
nav .menu li a{
    text-decoration: none;
    color: #000000;
}
nav .menu li .btn{
    padding: 10px 20px;
    background-color: #FF7A00;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.banner-section{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    margin: 0 36.5px 0 220px;
    justify-content: space-between;
}
.banner-section .banner-content{
    width: 585px;
    /* border: 1px solid blue; */
    height: 356px;
}
.banner-section .banner-content h3{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #474747;
}
.banner-section .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
.banner-section .banner-content p{
    font-size: 18px;
    color: #474747;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner-content .banner-btn{
    display: flex;
    gap: 20px;
}
.banner-section .banner-content .btn{
    padding: 17px 17px;
    background-color: #FF7A00;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.banner-section .banner-content .btn-secondary{
    padding: 19px 25px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--page-bg);
    border:1px solid #FF7A00;
    border-radius: 5px;
    color: #FF7A00;
    cursor: pointer;
}
.banner-image img{
    height: 576px;
    max-width: 584px;
    vertical-align: middle;
}